@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .login-button {
    position: static;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    display: none !important;
  }

  .login-button {
    display: none !important;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: rgba(176, 176, 176, 0.279);
  transition: 0.1s ease-in-out;
  color: #007bff;
}

.header.showed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #005097;
  color: aliceblue;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes stickySlideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 1025px) {
  .logo {
    margin-left: 20px;
    margin-right: 50px;
  }
  
}

.menu {
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menu {
  span {
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Poppins', serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }

  li {
    margin: 0 25px;
    padding: 35px 0px;
  }
}

.menu span:hover {
  color: #1b8cd6;
}

.login-button {
  background-color: #125bf9;
  color: aliceblue;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #1b8cd6;
}
